<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="EasyHttp" version="1.6.85.0" targetFramework="net452" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net452" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net452" />
  <package id="NLog" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net452" />
  <package id="NLogInjector" version="0.0.4" targetFramework="net452" />
  <package id="RuskinDantra.Extensions" version="1.0.31" targetFramework="net452" />
  <package id="TeamCitySharp-Ruskin" version="0.0.11" targetFramework="net452" />
</packages>